* {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

:root {
  --main-text: #2c2c2c;
  --main-purple: #b28dcf;
  --dark-purple: #926fad;
  --yellow: #ffe711;
  --white: #ffffff;
}
/* 
 background-color: var(--main-color); */
.header {
  height: 50px;
  background-color: var(--main-purple);
  display: flex;
  align-items: center;
}
section {
  width: 1200px;
  margin: 0 auto;
}
.header-logo {
  margin-left: 10px;
}
.header-name {
  margin-left: 10px;
  text-transform: uppercase;
  color: var(--yellow);
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 20px;
  text-shadow: -1px 2px black, 0 1px black, 1px 0 black, 0 -1px black;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-subtitle {
  color: var(--main-text);
  margin-top: 350px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 50px;
}
.title-title {
  color: var(--yellow);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  font-size: 100px;
  text-shadow: -2px 3px black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 55px;
}
.title-description {
  font-size: 30px;
  color: var(--main-text);
  margin: 15px 0 75px 0;
}
.main-btn {
  background-color: var(--main-purple);
  font-size: 20px;
  border: none;
  outline: none;
  padding: 10px 20px;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.main-btn:hover {
  background-color: var(--dark-purple);
}
.section-container {
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black;
  padding-top: 100px ; */
}
.color-container {
  width: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 4px var(--main-text);
  padding: 40px 60px;
}
.color-input-color-selector {
  width: 120px;
  height: 30px;
  margin-left: 10px;
}
.color-description {
  font-size: 30px;
  margin-bottom: 15px;
}
.color-selector-description {
  font-size: 25px;
  margin-bottom: 15px;
}
.color-selector {
  font-size: 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.color-input-wrapper {
  margin: 25px 0 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.color-input-item input {
  width: 120px;
  height: 30px;
  margin: 10px 20px 10px 0;
}
.color-input-item span {
  width: 20px;
}
.color-input-item {
  display: flex;
  align-items: center;
}

.template-intup-description {
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 400px;
}
.template-intup-textarea textarea {
  resize: vertical;
  width: 1000px;
  min-height: 300px;
}

.template-intup-textarea {
  margin-bottom: 25px;
}

.duck-loading-wrapper {
  margin: 300px auto;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-purple);
  width: 468px;
  border-radius: 25px;
  border: 3px solid yellow;
  position: relative;
  overflow: hidden;
  visibility: hidden;
}
.duck-loading-container {
  display: flex;
  position: absolute;
  left: -400px;
  transform: scaleX(-1);
}
.duck-loading {
  padding: 10px;
}
